name: cog_model_env
channels:
  - pytorch
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scipy
  - pytorch
  - torchvision
  - pip:
    - cmdstanpy==1.3.0
    - tqdm==4.67.1